
.h1{
    text-align: center;
    color: white;
    font-style: bold;
}
.body{
    background-color: darkslateblue;
}
.body2{
    font-family: 'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
}
